.speakWrap {
    position: relative;
}

.speakWrap .record_modal {
    display:none;
}

.speakWrap .icon {
    position: absolute;
    right:10px;
    bottom:20px;
}

.speakWrap .icon button {
    background-color:rgba(250,250,250,0.90);
    border:none;
    border-radius: 100%;
    width:50px;
    height: 50px;
    z-index: 99;
    position: relative;
    background-image: url(../images/microphone_black.svg);
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
}

    .speakWrap .icon button.active {
        background-color:rgba(0,0,0,0.90);
        background-image: url(../images/microphone_white.svg);
    }