.swipeWrap {
  height: 100vh;
  color: #fff;
}

.onboarding {
  background-image: url(../images/onboarding1.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  position: relative;
  display: flex;
  justify-content: center;
}

.border {
  position: absolute;
  height: 90%;
  width: 100%;
  border: 10px solid white;
  top: 5%;
  left: 4%;
  bottom: 5%;
}

.smklogo {
  background-image: url(/static/media/SMK_SecondaryLogo_White.5f8d0807.png);
  position: absolute;
  background-size: cover;
  width: 48px;
  height: 27px;
  left: 20px;
  top: 8px;
}

.obtekst {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  margin-top: 30%;
  margin-left: 20px;
}
.itemWrap {
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  position: relative;
}

.bottomWrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
}

.info {
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 55%;
}
.info span {
  width: fit-content;
  padding: 1px 3px;
}
.info span.title {
  font-size: 16px;
  margin-bottom: 2px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info span.artist {
  font-size: 14px;
  color: #dcdcdc;
  background: rgba(0, 0, 0, 0.4);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
